<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.andre.calculadoraandroid">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".contaspessoais" />
        <activity android:name=".gastosbens" />
        <activity android:name=".calculobasico" />
        <activity android:name=".calculocientifico" />
        <activity android:name=".funcoesbasicas" />
        <activity android:name=".maisfuncoesbasica" />
        <activity android:name=".funcoescalculobinario" />
        <activity android:name=".ConversaoBinario" />
        <activity android:name=".calculoBCD" />
        <activity android:name=".funcoesbinariasMenu" />
        <activity android:name=".Menuresultado" />
        <activity android:name=".MenuAgredicento" />
        <activity android:name=".MenuVistaMensalTotal" />
        <activity android:name=".MenuGastoMensalPorPonto"></activity>
    </application>

</manifest>