<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.andre.calculadoraandroid">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".contaspessoais" />
        <activity android:name=".gastosbens" />
        <activity android:name=".calculobasico" />
        <activity android:name=".calculocientifico" />
        <activity android:name=".funcoesbasicas" />
        <activity android:name=".maisfuncoesbasica" />
        <activity android:name=".funcoescalculobinario" />
        <activity android:name=".ConversaoBinario" />
        <activity android:name=".calculoBCD" />
        <activity android:name=".funcoesbinariasMenu" />
        <activity android:name=".Menuresultado" />
        <activity android:name=".MenuAgredicento" />
        <activity android:name=".MenuVistaMensalTotal" />
        <activity android:name=".MenuGastoMensalPorPonto" />
        <activity android:name=".Ativityrecicler" />
        <activity android:name=".PrecosActivity" />
        <activity android:name=".funcoescientificas" />
        <activity android:name=".calculobasico1" />
        <activity android:name=".calculobasico2" />
        <activity android:name=".calculobasico3" />
        <activity android:name=".calculobasico4" />
        <activity android:name=".calculobasico5" />
        <activity android:name=".calculobasico6" />
        <activity android:name=".calculobasico7" />
        <activity android:name=".calculobasico8" />
        <activity android:name=".calculobasico9" />
        <activity android:name=".EditEconomia" />
        <activity android:name=".Menuresultado2" />
        <activity android:name=".MenuResultado3" />
        <activity android:name=".Menuresultado4" />
        <activity android:name=".Menuresultado5" />
        <activity android:name=".Menuresultado6" />
        <activity android:name=".Menuresultado7" />
        <activity android:name=".Menuresultado8" />
        <activity android:name=".Menuresultado9" />

        <provider
            android:name=".FuncoesContentProvider"
            android:authorities="com.example.andre.calculadoraandroid"
            android:exported="false" />

        <activity android:name=".Menuresultado10" />
        <activity android:name=".calculocientifico2" />
        <activity android:name=".calculocientifco3" />
        <activity android:name=".calculocientifico4" />
        <activity android:name=".calculocientifico5" />
        <activity android:name=".Menuresultado11" />
        <activity android:name=".Menuresultado12" />
        <activity android:name=".Menuresultado13" />
        <activity android:name=".Menuresultado14" />
        <activity android:name=".Menuresultado15" />
        <activity android:name=".Menuconversao" />
        <activity android:name=".Menubin" />
        <activity android:name=".Menubin2" />
        <activity android:name=".Menubin3" />
        <activity android:name=".Menuresbin" />
        <activity android:name=".Menuresbin2" />
        <activity android:name=".Menuresbin4" />
        <activity android:name=".Menuresbin3" />
        <activity android:name=".Funcoesbinariaspred" />
        <activity android:name=".Menubinpred" />
        <activity android:name=".Menubinpred2" />
        <activity android:name=".Menubinpred3" />
        <activity android:name=".Menubinpred4" />
        <activity android:name=".Menuresbinpred" />
        <activity android:name=".Menuresbinpred2" />
        <activity android:name=".Menuresbinpred3" />
        <activity android:name=".Menuresbinpred4"></activity>
    </application>

</manifest>